.container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  //align-content: flex-start;
  width: 100%;
  background-color: Silver;
}
.header {
  background-color: #48D1CC;
  width: 100%;
  margin: 5px 5px 1px 5px;
  text-align: center;
  font-size: 20px;
}
.nav {
  background-color: DeepSkyBlue;
  flex: 1;
  margin: 5px;
  padding: 10px;
  //height: 400px;
}
.section {
  flex: 6;
  margin: 5px 5px 1px 1px;
  flex-direction: column;
}
.s {
  background-color: #FFD3D4;
  margin: 0px 1px 5px 1px;
  flex: 1;
  padding: 10px;

}

.footer {
  background-color: #FFC;
  width: 100%;
  margin: 1px 5px 5px 5px;
}
